<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class = "container">
            <ul class = "nav navbar-nav">
            {# Django Home Link / Admin Link/ Register Link#}
                <li><a class="navbar-brand" href="{% url 'index' %}">Home</a></li>
                <li><a class = "navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
                <li><a class = "navbar-link" href="{% url 'register' %}">Register</a></li>
                
                
                

            {# Some logic on what to display for last item#}
            {% if user.is_authenticated %}
                
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a class="navbar-link" href="{% url 'user_login' %}">Login</a></li>
            {% endif %}
            </ul>
               
            
        </div>
    </nav>
    <div class = 'container'>
        {% block body_block %}
        {% endblock %}
    </div>
</body>
</html>