

<audio src="{{  song.audio_file.url }}">song</audio>


<audio controls>
    <source src="{{  song.audio_file.url }}" type="audio/ogg">
    <source src="{{  song.audio_file.url }}" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>